html {
	font-size: 24px;
}

body {
	font-family: sans-serif;
	margin: 0;
}

main::after {
	color: #ccc;
	content: 'Choose a device to see its actions';
	left: 0;
	margin: 0 2rem;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
}

main.loading::after {
	content: 'Loading…';
}

.device {
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 50vw;
}

.device-name {
	border: 1px solid hsl(332, 16%, 40%);
	color: hsl(332, 16%, 40%);
	display: block;
	line-height: 3rem;
	text-decoration: none;
	text-transform: capitalize;
}

.device:first-child .device-name {
	border-right: 0;
}

:target .device-name {
	background: hsl(332, 16%, 40%);
	color: hsl(41, 80%, 98%);
}

.actions {
	background: white;
	bottom: 0;
	display: none;
	flex-wrap: wrap;
	left: 0;
	padding: 1rem;
	position: absolute;
	right: 0;
	top: 4rem;
	z-index: 1;
}

:target .actions {
	display: flex;
}

button {
	background: hsl(131, 42%, 62%);
	border-radius: 10px;
	border: 3px double;
	color: hsl(41, 80%, 98%);
	flex: 1 auto;
	font-size: 1.3rem;
	font-variant: small-caps;
	line-height: 1.5;
	margin: 0.1rem;
}

[data-action*="power"] {
	background: hsl(5, 87%, 58%);
}

[data-action*="volume"],
[data-action*="mute"] {
	background: hsl(240, 17%, 42%);
}
