body {
	font-family: sans-serif;
	margin: 1rem;
}

section {
	margin: 0 0 4rem;
}

h2 {
	text-align: center;
}

button {
	font-size: x-large;
	background: hsl(894, 59%, 48%);
	border-radius: 10px;
	color: hsl(41, 80%, 98%);
	display: block;
	width: 100%;
	line-height: 2;
	margin: 0.5rem 0;
}
